.box > div {
  position: absolute;
  border: 1px solid #000;
  background-color: blueviolet;

  &:nth-child(1) {
    width: var(--a);
    height: var(--b);

    transform: rotateY(-90deg)
      translate3d(calc(var(--a) / 2), 0, calc(var(--a) / 2));
  }

  &:nth-child(2) {
    width: var(--c);
    height: var(--a);

    transform: rotateX(90deg)
      translate3d(0, calc(var(--a) / 2), calc(var(--a) / 2));
  }

  &:nth-child(3) {
    width: var(--c);
    height: var(--b);

    transform: translateZ(0);
  }

  &:nth-child(4) {
    width: var(--a);
    height: var(--b);

    transform: rotateY(90deg)
      translate3d(
        calc(var(--a) / -2),
        0,
        calc(var(--c) - var(--a) + var(--a) / 2)
      );
  }

  &:nth-child(5) {
    width: var(--c);
    height: var(--a);

    transform: rotateX(90deg)
      translate3d(
        0,
        calc(var(--a) / 2),
        calc(var(--a) - var(--b) + var(--a) / -2)
      );
  }

  &:nth-child(6) {
    width: var(--c);
    height: var(--b);

    transform: translateZ(var(--a));
  }
}

.player {
  position: relative;

  > .head {
    position: absolute;

    --size: 10px;
    --a: var(--size);
    --b: var(--size);
    --c: var(--size);

    transform: translate3d(calc(var(--c) / -2), calc(var(--b) / -2), 46px);
  }

  > .torso {
    position: absolute;

    --a: 18px;
    --b: 20px;
    --c: 14px;

    transform: translate3d(calc(var(--c) / -2), calc(var(--b) / -2), 28px);
  }

  > .left-arm {
    transform-origin: 0 0 40px;
    animation: swing 0.3s ease-in-out infinite alternate;

    > .left-arm-upper {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 - 12px),
        30px
      );
    }

    > .left-arm-lower {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 - 12px),
          16px
        )
        rotateY(75deg);
    }
  }

  > .right-arm {
    transform-origin: 0 0 40px;
    animation: swing 0.3s ease-in-out infinite alternate-reverse;

    > .right-arm-upper {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 + 12px),
        30px
      );
    }

    > .right-arm-lower {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 + 12px),
          16px
        )
        rotateY(75deg);
    }
  }

  > .left-leg {
    transform-origin: 0 0 25px;
    animation: swing 0.3s ease-in-out infinite alternate-reverse;

    > .left-leg-upper {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 - 5px),
        14px
      );
    }

    > .left-leg-lower {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 - 5px),
          0px
        )
        rotateY(-55deg);
    }
  }

  > .right-leg {
    transform-origin: 0 0 25px;
    animation: swing 0.3s ease-in-out infinite alternate;

    > .right-leg-upper {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 + 5px),
        14px
      );
    }

    > .right-leg-lower {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 + 5px),
          0px
        )
        rotateY(-55deg);
    }
  }
}

@keyframes swing {
  0% {
    transform: rotateY(-55deg);
  }
  100% {
    transform: rotateY(55deg);
  }
}
