.player {
  position: relative;

  > .head {
    position: absolute;

    --size: 10px;
    --a: var(--size);
    --b: var(--size);
    --c: var(--size);

    transform: translate3d(calc(var(--c) / -2), calc(var(--b) / -2), 46px);
  }

  > .torso {
    position: absolute;

    --a: 18px;
    --b: 20px;
    --c: 14px;

    transform: translate3d(calc(var(--c) / -2), calc(var(--b) / -2), 28px);
  }

  > .left-arm {
    transform-origin: 0 -10px 40px;
    transform: rotateY(-30deg) rotateZ(-5deg);
    /* animation: swing 0.3s ease-in-out infinite alternate; */

    > .left-arm-upper {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 - 12px),
        30px
      );
    }

    > .left-arm-lower {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 - 12px),
          16px
        )
        rotateY(125deg);
    }
  }

  > .right-arm {
    transform-origin: -2px 10px 40px;
    /* animation: swing 0.3s ease-in-out infinite alternate-reverse; */
    transform: rotateY(60deg) rotateX(-12deg) rotateZ(90deg);

    > .right-arm-upper {
      position: absolute;

      --a: 12px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 + 12px),
        30px
      );
    }

    > .right-arm-lower {
      position: absolute;

      --a: 16px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 + 12px),
          16px
        )
        rotateY(60deg);
    }
  }

  > .left-leg {
    transform-origin: 0 0 25px;
    animation: swing 0.3s ease-in-out infinite alternate-reverse;

    > .left-leg-upper {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 - 5px),
        14px
      );
    }

    > .left-leg-lower {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 - 5px),
          0px
        )
        rotateY(-55deg);
    }
  }

  > .right-leg {
    transform-origin: 0 0 25px;
    animation: swing 0.3s ease-in-out infinite alternate;

    > .right-leg-upper {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform: translate3d(
        calc(var(--c) / -2),
        calc(var(--b) / -2 + 5px),
        14px
      );
    }

    > .right-leg-lower {
      position: absolute;

      --a: 14px;
      --b: 5px;
      --c: 5px;

      transform-origin: calc(var(--c) / 2) 0 var(--a);
      transform: translate3d(
          calc(var(--c) / -2),
          calc(var(--b) / -2 + 5px),
          0px
        )
        rotateY(-55deg);
    }
  }

  > .gun {
    transform: translate3d(-23px, -7px, 36px) rotateY(3deg) rotateZ(-15deg);

    > .gun-body {
      position: absolute;

      div {
        background-color: yellow;
      }

      --a: 6px;
      --b: 6px;
      --c: 22px;
    }

    > .gun-mag {
      position: absolute;

      div {
        background-color: greenyellow;
      }

      --a: 4px;
      --b: 4px;
      --c: 4px;

      transform: translate3d(4px, 1px, -4px);
    }

    > .gun-handle {
      position: absolute;

      div {
        background-color: greenyellow;
      }

      --a: 8px;
      --b: 4px;
      --c: 5px;

      transform: translate3d(17px, 1px, -6px) rotateY(-10deg);
    }

    > .gun-aim {
      position: absolute;

      div {
        background-color: greenyellow;
      }

      --a: 2px;
      --b: 2px;
      --c: 2px;
      transform: translate3d(2px, 2px, 6px);
    }

    > .gun-aim2 {
      position: absolute;

      div {
        background-color: greenyellow;
      }

      --a: 2px;
      --b: 2px;
      --c: 4px;
      transform: translate3d(12px, 2px, 6px);
    }
  }
}

@keyframes swing {
  0% {
    transform: rotateY(-55deg);
  }
  100% {
    transform: rotateY(55deg);
  }
}
