.viewmodel {
  position: absolute;
  transform: translate3d(60vw, 60vh, 0px) rotateY(15deg) rotateX(-4deg);
  transition: transform 120ms ease;

  &.aim-down-sights {
    transform: translate3d(calc(50vw - 50px), calc(50vh + 10px), 280px)
      rotateY(0) rotateX(0);
  }

  .xh {
    background: color-mix(in srgb, greenyellow, transparent 85%) !important;
  }

  > .box {
    position: absolute;

    > div {
      background-color: grey;
    }
  }

  > .body {
    --a: 700px;
    --b: 100px;
    --c: 100px;
    > div {
      background-color: yellow;
    }
  }

  > .aim {
    --a: 100px;
    --b: 35px;
    --c: 40px;
    transform: translate3d(30px, -35px, 500px);
    > div {
      background-color: greenyellow;
    }
  }

  > .mag {
    --a: 75px;
    --b: 100px;
    --c: 70px;
    transform: translate3d(15px, 100px, 300px);

    > div {
      background-color: greenyellow;
    }
  }

  > .aim2 {
    --a: 20px;
    --b: 20px;
    --c: 20px;
    transform: translate3d(40px, -20px, 50px);
    > div {
      background-color: greenyellow;
    }
  }

  > .arm {
    --a: 80px;
    --b: 80px;
    --c: 700px;
    transform: translate3d(-500px, 50px, 570px) rotateX(10deg) rotateY(35deg);
    > div {
      background-color: blueviolet;
    }
  }
}

#viewmodel-animation {
  position: absolute;
  transform-origin: 0 0 850px;
  &.active {
    animation: shoot 120ms ease-out infinite;
  }
}

@keyframes shoot {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(-15px, 27px, 175px) rotateX(-8deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
